.c {
  position: absolute;
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 40px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.colExit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exit{
  color: #be43d8;
  font-size: 12px;
}

.login{
  font-weight: 800;
  font-size: 20px;
  color: #343a40;
}